<header class="header-fix">

<div class="top-interaction">
    <div class="content">
      <div class="row">

        <div class="area-logo col-sm-3">
          <a id="logo" rel="home" href="/" title="Cancelou">
            <img class="img-responsive" src="assets/images/logoHeader.png" alt="OQVestir - mais de 220 marcas de roupas e acessórios">
          </a>
        </div>

        <div class="col-sm-6 menu-items">
          <ul>
            <li>
              <a href="/">Quem somos</a>
              <ul class="submenu">
                <li>
                  <a href="/">Quem somos</a>
                </li>
                <li>
                  <a href="/">Quem somos</a>
                </li>
                <li>
                  <a href="/">Quem somos</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/">Seus direitos</a>
            </li>
            <li>
              <a href="/">Casos de sucesso</a>
            </li>
            <li>
              <a href="/">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-sm-3 menu-user">
          <ul class="">
            <li>
              <a href="/">Quero acompanhar</a>
            </li>
            <li>
              <a href="/">Quero reclamar</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  
</header>