<header class="header-fix">

<div class="top-interaction">
    <div class="content">
      <div class="row">

        <div class="area-logo">
          <a id="logo" rel="home" href="/" title="Cancelou">
            <img class="img-responsive" src="assets/images/logoHeader.png" alt="">
          </a>
        </div>

        <div class="menu-items">
          <ul>
            <li class="menu-item">
              <a href="/">Quem somos</a>
              <ul class="submenu">
                <li>
                  <a href="/">Atraso de voo</a>
                </li>
                <li>
                  <a href="/">Cancelamento de voo</a>
                </li>
                <li>
                  <a href="/">Oberbooking</a>
                </li>
                <li>
                  <a href="/">Extravio de bagagem</a>
                </li>
                <li>
                  <a href="/">Disposições finais</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/">Seus direitos</a>
            </li>
            <li class="menu-item">
              <a href="/">Casos de sucesso</a>
            </li>
            <li class="menu-item">
              <a href="/">Blog</a>
            </li>
          </ul>
        </div>

         <div class="menu-user">
          <ul>
            <li class="menu-item">
              <a href="/" class="button-header">Quero acompanhar</a>
            </li>
            <li class="menu-item">
              <a href="/" class="button-header">Quero reclamar</a>
            </li>
          </ul>
        </div> 

      </div>
    </div>
  </div>
  
</header>